$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #202020;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;

@media only screen and (min-width: 1200px) { 

#mfatip {
position:relative;
border:1vh solid magenta;
height:100%;
width:100%;
}

#mfatip-landingpageview {
position:absolute;
border:1vh solid red;
height:100%;
width:100%;
overflow-y:scroll;
}

#mfatipheaderrowcontariner {
position:relative;
border:1vh solid green;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
margin-top:5vh;
padding:0px 220px;
}

#mfatipheaderrowcontariner-headerindicationscontainer {
position:relative;
border:1vh solid red;
height:auto;
display:flex;
flex-direction:column;
justify-content:center; 
}

.mfatipheaderrowcontariner-headerindicationscontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}

#mfatipheaderrowcontariner-dataheaderindicationcontainer {
position:relative;
border:1vh solid magenta;
height:auto;
padding:0;
}

#mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer {
position:relative;
border:1vh solid green;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
}

#mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-datacontainer {
position:relative;
border:1vh solid yellow;
height:auto;
padding:0;
}

#mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-datacontainer-datarowcontainer {
position:relative;
border:1vh solid dodgerblue;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
}

.mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-datacontainer-datarowcontainer-datacolcontainer {
position:relative;
border:1vh solid red;
height:40vh;
}

.mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-datacontainer-datarowcontainer-datacolcontainer-positioningcontainer {
position:relative;
background-color: brown;
height:100%;
width:100%;
border-radius:5px;
}
.mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-datacontainer-datarowcontainer-datacolcontainer-positioningcontainer-datacontainer {
position:relative;
border:1vh solid white;
height:50%;
display:flex;
justify-content:center;
align-items:center;
}
.mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-datacontainer-datarowcontainer-datacolcontainer-positioningcontainer-datacontainer-dataheaderindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
text-align:center;
}
#mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-datacontainer-datadisplayimagecontainer {
position:relative;
border:1vh solid pink;
height:30vh;
width:100%;
}

#mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-datacontainer-datadisplayimagecontainer-datadisplayimage {
position:relative;
height:100%;
width:100%;
}

#mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-ownerbackgroundimagecontainer {
position:relative;
border:1vh solid magenta;
height:auto;  
}

#mfatipheaderrowcontariner-dataheaderindicationcontainer-rowcontainer-ownerbackgroundimagecontainer-ownerbackgrounimage {
position:relative;
height:100%;
width:100%;
}

//// start of hope header
#hopeheader {
position:relative;
border:1vh solid magenta;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
margin-top:5vh;
padding:0px 220px;
}
#hopeheader-displayimagescontainer {
position:relative;
border:1vh solid white;
height:auto;
}
.hopeheader-displayimagescontainer-rowcontainer-colcontainer {
position:relative;
border:1vh solid green;
height:65vh;
}
#hopeheader-displayimagescontainer-rowcontainer-colcontainer-displayimage1 {
position:absolute;
border:0.1vh solid black;
height:100%;
width:100%;
}
#hopeheader-displayimagescontainer-rowcontainer-colcontainer-displayimage2 {
position:absolute;
border:0.1vh solid black;
height:40%;
width:140%;
top:0;
left:0;
transform: translate(40%,130%);
}
#hopeheader-displayimagescontainer-rowcontainer-colcontainer-displayimage3 {
position:absolute;
height:40%;
width:80%;
top:0;
left:0;
transform: translate(10%,10%);
}
#hopeheader-hopeheader-headerindicationscontainer {
position:relative;
border:1vh solid white;
height:auto;
display:flex;
flex-direction:column;
justify-content:center;
}
.hopeheader-hopeheader-headerindicationscontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}
//// end of hope header

//// start of mfatip configuration
#mfatipconfiguration {
position:relative;
border:1vh solid red;
height:auto;
width:100%;
margin-top:5vh;
padding:0px 220px;
}
#mfatipconfiguration-headerindicationcontainer {
position:relative;
border:1vh solid green;
height:auto;
width:100%;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:50px 0px;
}
.mfatipconfiguration-headerindicationcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
}
color:white;
}
#mfatipconfiguration-configurationmodalrowcontainer {
position:relative;
border:1vh solid violet;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
padding:30px 220px;
}
.mfatipconfiguration-configurationmodalrowcontainer-colcontainer {
position:relative;
background-color:white;
border-radius:20px;
border:1vh solid white;
height:auto;
margin-top:5vh;
padding:60px 30px;
display:flex;
flex-direction:column;
justify-content:center;
}
.mfatipconfiguration-configurationmodalrowcontainer-colcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
 weight:900;
}
letter-spacing:1px;
}
.mfatipconfiguration-configurationmodalrowcontainer-colcontainer-checkdisplayimage {
position:relative;
height:50px; 
width:50px;  
}
#mfatipconfiguration-configurationmodalrowcontainer-colcontainer-setupmymfatipaccountbutton {
position:relative;
background-color:green;
border:0.1vh solid orange;
border-radius:20px;
height:10vh;
width:80%;
font: auto {
 family: $sub-font;
}
color:white;
margin-left: auto;
margin-right:auto;
}
/// end of mfatip configuration

//// start of set up mfatipaccount
#setupmfatipaccount {
position:absolute;
background-color:white;
border:1vh solid red;
height:100%;
width:100%;
margin-left:auto;
margin-right:auto;
display:none;
overflow-y:scroll;
}
#setupmfatipaccount-navigationcontainer {
position:relative;
border:1vh solid green;
height:10%;
width:100%;
margin-left:auto;
margin-right:auto;
}
.setupmfatipaccount-navigationcontainer-navigationheaderindicationcontainer {
position:relative;
border:1vh solid red;
height:auto;
display:flex;
align-items:center;
}
.setupmfatipaccount-navigationcontainer-navigationheaderindicationcontainer-headerindication {
position:relative;
font: auto {
 family: $sub-font;
}
user-select:none;
}
#setupmfatipaccount-headerindicationscontainer {
position:relative;
border:1vh solid magenta;
height:auto;
width:100%;
padding:180px 120px;
}
.setupmfatipaccount-headerindicationscontainer-headerindication {
position:relative;
font:auto {
family: $sub-font;
}
}

#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer {
position:relative;
border:1vh solid white;
height:auto;
width:100%;
margin-left:auto;
margin-right:auto;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-headerindicationscontainer {
position:relative;
border:1vh solid red;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-headerindicationscontainer-headerindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-fullnameinputfieldcolcontainer {
position:relative;
border:1vh solid green;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-fullnameinputfieldcolcontainer-fullnameheaderindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-fullnameinputfieldcolcontainer-fullnameinputfield {
position:relative;
background-color:transparent;
border: 1px solid transparent;
border-bottom:0.1vh solid black;
height:5vh;
width:90%;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-fullnameinputfieldcolcontainer-fullnamereminder {
position:relative;
font: auto {
family: $sub-font;
}
margin-top:3vh;
}

#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-phonenumberinputfieldcolcontainer {
position:relative;
border:1vh solid green;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-phonenumberinputfieldcolcontainer-phonenumberheaderindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-phonenumberinputfieldcolcontainer-phonenumberinputfield {
position:relative;
background-color:transparent;
border: 1px solid transparent;
border-bottom:0.1vh solid black;
height:5vh;
width:90%;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-phonenumberinputfieldcolcontainer-phonenumberreminder {
position:relative;
font: auto {
family: $sub-font;
}
margin-top:3vh;
}
#setupmfatipaccountcitizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-dobinputfieldcolcontainer {
position:relative;
border:1vh solid green;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-dobinputfieldcolcontainer-dobheaderindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-dobinputfieldcolcontainer-dobinputfield {
position:relative;
height:5vh;
width:90%;
font: auto {
family: $sub-font;
}
padding:10px 20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-dobinputfieldcolcontainer-dobreminder {
position:relative;
font: auto {
family: $sub-font;
}
margin-top:3vh;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-civilstatusinputfieldcolcontainer {
position:relative;
border:1vh solid green;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-civilstatusinputfieldcolcontainer-civilstatusheaderindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-civilstatusinputfieldcolcontainer-civilstatusselectlabel {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-civilstatusinputfieldcolcontainer-civilstatusselect {
position:relative;
height:5vh;
width:90%;
font: auto {
family:$sub-font;
}
margin-top:1vh;
padding:10px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotoofbirthcertificateinputfieldcolcontainer {
position:relative;
border:1vh solid green;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotofbirthcertificateinputfieldcolcontainer-frontphotoofbirthcertificateheaderindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotoofbirthcertificateinputfieldcolcontainer-blackquestionmarkimage {
position:relative;
border:1vh solid red;
height:80%;
width:80%;
margin-left:auto;
margin-right:auto;
} 
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotofbirthcertificateinputfieldcolcontainer-frontphotoofbirthcertificatelabel {
position:relative;
background-color:white;
border:0.1vh solid black;
border-radius:20px;
font: auto {
family:$sub-font;
}
color:black;
padding:20px 35px;
}
.setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotofbirthcertificateinputfieldcolcontainer-frontphotoofbirthcertificateinputfield {
position:relative;
display:none;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotoofbirthcertificateinputfieldcolcontainer {
position:relative;
border:1vh solid green;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotofbirthcertificateinputfieldcolcontainer-backphotoofbirthcertificateheaderindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotoofbirthcertificateinputfieldcolcontainer-blackquestionmarkimage {
position:relative;
border:1vh solid red;
height:80%;
width:80%;
margin-left:auto;
margin-right:auto;   
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotofbirthcertificateinputfieldcolcontainer-backphotoofbirthcertificatelabel {
position:relative;
background-color:white;
border:0.1vh solid black;
border-radius:20px;
font: auto {
family:$sub-font;
}
color:black;
padding:20px 35px;
}
.setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotofbirthcertificateinputfieldcolcontainer-backphotoofbirthcertificateinputfield {
position:relative;
display:none;
}

#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotoofvalidgovernmentidinputfieldcolcontainer {
position:relative;
border:1vh solid green;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotofvalidgovernmentidinputfieldcolcontainer-frontphotoofvalidgovernmentidheaderindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotoofvalidgovernmentidinputfieldcolcontainer-blackquestionmarkimage {
position:relative;
border:1vh solid red;
height:80%;
width:80%;
margin-left:auto;
margin-right:auto; 
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotofvalidgovernmentidinputfieldcolcontainer-frontphotoofvalidgovernmentidlabel {
position:relative;
background-color:white;
border:0.1vh solid black;
border-radius:20px;
font: auto {
family:$sub-font;
}
color:black;
padding:20px 35px;
}
.setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-frontphotofvalidgovernmentidinputfieldcolcontainer-frontphotoofvalidgovernmentidinputfield {
position:relative;
display:none;
}

#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotoofvalidgovernmentidinputfieldcolcontainer {
position:relative;
border:1vh solid green;
height:auto;
padding:20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotofvalidgovernmentidinputfieldcolcontainer-backphotoofvalidgovernmentidheaderindication {
position:relative;
font: auto {
family: $sub-font;
}
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotoofvalidgovernmentidinputfieldcolcontainer-blackquestionmarkimage {
position:relative;
border:1vh solid red;
height:80%;
width:80%;
margin-left:auto;
margin-right:auto;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotofvalidgovernmentidinputfieldcolcontainer-backphotoofvalidgovernmentidlabel {
position:relative;
background-color:white;
border:0.1vh solid black;
border-radius:20px;
font: auto {
family:$sub-font;
}
color:black;
padding:20px 35px;
}
.setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-backphotofvalidgovernmentidinputfieldcolcontainer-backphotoofvalidgovernmentidinputfield {
position:relative;
display:none;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-submitbuttoncontainer {
position:relative;
border:1vh solid red;
padding:40px 20px;
}
#setupmfatipaccount-citizenshipregistrationtypeviewcontainer-mfatipcitizenshipregistrationpersonaldetailscontainer-submitbuttoncontainer-submitbutton {
position:relative;
background-color:magenta;
border:0.1vh solid white;
border-radius:15px;
font: auto {
famly: $sub-font;
}
padding:20px 85px;
}
//// end of set up mfatip account
}