$main-font: "Titillium Web", sans-serif;
$sub-font: "Quicksand", sans-serif;
$robotic-font: "Nova Round", cursive;
$mainbgcolor: #202020;
$subbgcolor: #27272b;
$containersonidlebgcolor: #e2e4e1;


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

#map {
position:relative;
background-color:black;
height:70vh;
width:100%;
margin-top:5vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}

#mapcontainer {
height:70vh;
width:100%;
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) { 
#map {
position:relative;
background-color:black;
height:70vh;
width:100%;
margin-top:5vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}
#mapcontainer {
height:70vh;
width:100%;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) { 
#map {
position:relative;
background-color:black;
height:70vh;
width:100%;
margin-top:5vh;
display:flex;
justify-content:center;
align-items:center;
color:white;
}
#mapcontainer {
height:70vh;
width:100%;
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { 
#map {
    position:relative;
    background-color:black;
    height:70vh;
    width:100%;
    margin-top:5vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
#mapcontainer {
height:70vh;
width:100%;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) { 
#map {
 position:relative;
 background-color:black;
 height:70vh;
 width:100%;
 margin-top:5vh;
 display:flex;
 justify-content:center;
 align-items:center;
 color:white;
}
#mapcontainer {
height:70vh;
width:100%;
}
}